# https://help.github.com/en/articles/about-code-owners

* @hmcts/platform-operations

environment-approvals.yml @hmcts/production-apps-approvals
terraform-infra-approvals.yml/*.json @hmcts/production-apps-approvals
