# https://help.github.com/en/articles/about-code-owners

* @hmcts/platform-operations

deployment-controls.yml @hmcts/platform-operations
environment-approvals.yml @hmcts/production-apps-approvals
terraform-infra-approvals/*.json @hmcts/production-apps-approvals
