# https://help.github.com/en/articles/about-code-owners

* @hmcts/platform-engineering

/environment-approvals.yml  @hmcts/production-apps-approvals
externalvariables.yml @hmcts/production-apps-approvals
