---
- hosts: all
#  become: true
  tasks:
    - name: set additional vars
      set_fact:
        resolved_env: "{{ (env == 'prod') | ternary('prod', 'sandbox') }}"
    - name: Include environment specific vars
      include_vars: "env_vars/{{ resolved_env }}.yml"

- hosts: all
  become: true
  vars:
    jenkins_enable_security: false
    jenkins_master_executors: 0
    jenkins_plugins:
      - { name: ace-editor, version: "1.1" }
      - { name: ansicolor, version: "0.5.2" }
      - { name: antisamy-markup-formatter, version: "1.5" }
      - { name: apache-httpcomponents-client-4-api, version: "4.5.5-3.0" }
      - { name: authentication-tokens, version: "1.3" }
      - { name: azure-commons, version: "0.2.6" }
      - { name: azure-credentials, version: "1.6.0" }
      - { name: azure-vm-agents, version: "0.7.3" }
      - { name: blueocean, version: "1.8.2" }
      - { name: blueocean-autofavorite, version: "1.2.2" }
      - { name: blueocean-bitbucket-pipeline, version: "1.8.2" }
      - { name: blueocean-commons, version: "1.8.2" }
      - { name: blueocean-config, version: "1.8.2" }
      - { name: blueocean-core-js, version: "1.8.2" }
      - { name: blueocean-dashboard, version: "1.8.2" }
      - { name: blueocean-display-url, version: "2.2.0" }
      - { name: blueocean-events, version: "1.8.2" }
      - { name: blueocean-github-pipeline, version: "1.8.2" }
      - { name: blueocean-git-pipeline, version: "1.8.2" }
      - { name: blueocean-i18n, version: "1.8.2" }
      - { name: blueocean-jira, version: "1.8.2" }
      - { name: blueocean-jwt, version: "1.8.2" }
      - { name: blueocean-personalization, version: "1.8.2" }
      - { name: blueocean-pipeline-api-impl, version: "1.8.2" }
      - { name: blueocean-pipeline-editor, version: "1.8.2" }
      - { name: blueocean-pipeline-scm-api, version: "1.8.2" }
      - { name: blueocean-rest-impl, version: "1.8.2" }
      - { name: blueocean-rest, version: "1.8.2" }
      - { name: blueocean-web, version: "1.8.2" }
      - { name: bouncycastle-api, version: "2.17" }
      - { name: branch-api, version: "2.0.20" }
      - { name: build-monitor-plugin, version: "1.12+build.201809061734" }
      - { name: build-failure-analyzer, version: "1.20.0" }
      - { name: cloudbees-bitbucket-branch-source, version: "2.2.12" }
      - { name: cloudbees-folder, version: "6.5.1" }
      - { name: cloud-stats, version: "0.18" }
      - { name: command-launcher, version: "1.2" }
      - { name: configuration-as-code, version: "1.2" }
      - { name: configuration-as-code-support, version: "1.2" }
      - { name: credentials-binding, version: "1.16" }
      - { name: credentials, version: "2.1.18" }
      - { name: custom-tools-plugin, version: "0.5" }
      - { name: display-url-api, version: "2.2.0" }
      - { name: docker-commons, version: "1.13" }
      - { name: docker-workflow, version: "1.17" }
      - { name: durable-task, version: "1.25" }
      - { name: extended-choice-parameter, version: "0.76" }
      - { name: external-monitor-job, version: "1.7" }
      - { name: favorite, version: "2.3.2" }
      - { name: gatling, version: "1.2.5" }
      - { name: git-client, version: "2.7.3" }
      - { name: github-api, version: "1.92" }
      - { name: github-branch-source, version: "2.3.6" }
      - { name: github, version: "1.29.2" }
      - { name: git-server, version: "1.7" }
      - { name: git, version: "3.9.1" }
      - { name: greenballs, version: "1.15" }
      - { name: handlebars, version: "1.1.1" }
      - { name: handy-uri-templates-2-api, version: "2.1.6-1.0" }
      - { name: htmlpublisher, version: "1.16" }
      - { name: http_request, version: "1.8.22" }
      - { name: jackson2-api, version: "2.8.11.3" }
      - { name: jacoco, version: "3.0.3" }
      - { name: javadoc, version: "1.4" }
      - { name: jdk-tool, version: "1.1" }
      - { name: jenkins-design-language, version: "1.8.2" }
      - { name: jira, version: "3.0.3" }
      - { name: jquery-detached, version: "1.2.1" }
      - { name: jquery, version: "1.12.4-0" }
      - { name: jsch, version: "0.1.54.2" }
      - { name: junit, version: "1.26.1" }
      - { name: ldap, version: "1.20" }
      - { name: lockable-resources, version: "2.3" }
      - { name: mailer, version: "1.21" }
      - { name: matrix-auth, version: "2.3" }
      - { name: matrix-project, version: "1.13" }
      - { name: maven-plugin, version: "3.1.2" }
      - { name: mercurial, version: "2.4" }
      - { name: momentjs, version: "1.1.1" }
      - { name: monitoring, version: "1.74.0" }
      - { name: pam-auth, version: "1.4" }
      - { name: pipeline-build-step, version: "2.7" }
      - { name: pipeline-github-lib, version: "1.0" }
      - { name: pipeline-graph-analysis, version: "1.7" }
      - { name: pipeline-input-step, version: "2.8" }
      - { name: pipeline-milestone-step, version: "1.3.1" }
      - { name: pipeline-model-api, version: "1.3.2" }
      - { name: pipeline-model-declarative-agent, version: "1.1.1" }
      - { name: pipeline-model-definition, version: "1.3.2" }
      - { name: pipeline-model-extensions, version: "1.3.2" }
      - { name: pipeline-rest-api, version: "2.10" }
      - { name: pipeline-stage-step, version: "2.3" }
      - { name: pipeline-stage-tags-metadata, version: "1.3.2" }
      - { name: pipeline-stage-view, version: "2.10" }
      - { name: pipeline-utility-steps, version: "2.1.0"}
      - { name: plain-credentials, version: "1.4" }
      - { name: pubsub-light, version: "1.12" }
      - { name: run-condition, version: "1.2" }
      - { name: saml, version: "1.0.7" }
      - { name: sauce-ondemand, version: "1.176" }
      - { name: scm-api, version: "2.2.7" }
      - { name: script-security, version: "1.46" }
      - { name: slack, version: "2.3" }
      - { name: sonar, version: "2.8.1" }
      - { name: sse-gateway, version: "1.15" }
      - { name: ssh-credentials, version: "1.14" }
      - { name: structs, version: "1.14" }
      - { name: timestamper, version: "1.8.10" }
      - { name: token-macro, version: "2.5" }
      - { name: variant, version: "1.1" }
      - { name: windows-slaves, version: "1.3.1" }
      - { name: workflow-aggregator, version: "2.5" }
      - { name: workflow-api, version: "2.29" }
      - { name: workflow-basic-steps, version: "2.11" }
      - { name: workflow-cps-global-lib, version: "2.11" }
      - { name: workflow-cps, version: "2.55" }
      - { name: workflow-durable-task-step, version: "2.21" }
      - { name: workflow-job, version: "2.25" }
      - { name: workflow-multibranch, version: "2.20" }
      - { name: workflow-scm-step, version: "2.6" }
      - { name: workflow-step-api, version: "2.16" }
      - { name: workflow-support, version: "2.20" }


    jenkins_manual_plugins:
      - file_name: 'azure-keyvault.hpi'
        checksum: 'sha256:4acba3f9ca256b89c4da17c4342e4c41e893f2db183a0fac87e09319c3001b08'
        url: 'https://github.com/hmcts/azure-keyvault-plugin/releases/download/0.9.6-hmcts/azure-keyvault.hpi'

    pipeline_jobs: []

    slack_domain: 'hmcts-reform'
    slack_credential_id: 'slack-token'

    jenkins_credentials:
        - id: jenkins-github-api-token
          type: cred-usrpwd
          description: "Jenkins GitHub credentials (Username/password format)"
          username: "moj-jenkins-user"
          password: "{{ github_apikey }}"
        - id: jenkins-github-api-token-secret-text
          type: cred-secret-text
          description: "moj-jenkins-user Public Github API Token (Used by the Github plugin for managing webhooks)"
          password: "{{ github_apikey }}"
        - id: jenkins-github-hmcts-api-token
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username }}"
          password: "{{ hmcts_github_apikey }}"
        - id: jenkins-github-hmcts-api-token_cmc
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_cmc }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-cmc vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_div
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_div }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-div vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_finrem
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_finrem }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-finrem vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_cdm
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_cdm }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-cdm vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_iac
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_iac }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-iac vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_platform
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_platform }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-platform vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_rpa
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_rpa }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-rpa vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_sscs
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_sscs }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-sscs vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_probate
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_probate }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-probate vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_feepay
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_feepay }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-feepay vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_sl
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_sl }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-sl vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_cnp
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_cnp }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-cnp vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_idam
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_idam }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-idam vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_cet
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_cet }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-cet vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: jenkins-github-hmcts-api-token_fpl
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "{{ api_key_username_fpl }}"
          password: "{{ lookup('azure_keyvault', 'secret_name=hmcts-github-apikey-fpl vault_uri={{ vault_uri }}', errors='warn') }}"
        - id: github-enterprise-token
          type: cred-usrpwd
          description: "cnpjenkins service account GitHub Enterprise API Token (Username/password format)"
          username: "github-enterprise-token"
          password: "{{ github_enterprise_apikey }}"
        - id: github-enterprise-token-secret-text
          type: cred-secret-text
          description: "cnpjenkins service account GitHub Enterprise API Token (Used by the Github plugin for managing webhooks)"
          password: "{{ github_enterprise_apikey }}"
        - id: git_access_ssh_key
          type: cred-usrkey
          description: "Credential ID: git_access_key"
          username: "moj-jenkins-user"
        - id: vm_agent_creds
          type: cred-usrpwd
          description: "SSH credentials for Jenkins agents"
          username: "{{ jenkins_agent_user }}"
          password: "{{ jenkins_agent_password }}"
        - id: '{{ slack_credential_id }}'
          type: cred-secret-text
          description: "Slack token"
          password: "{{ slack_token }}"
        - id: COSMOSDB_TOKEN_KEY
          type: cred-secret-text
          description: "Read/Write Key To Publish CosmosDB Metrics"
          password: "{{ pipelinemetrics_cosmosdb_key }}"
        - id: owasp-db-login
          type: cred-usrpwd
          description: "Username and password for the OWASP vulnerability database"
          username: "owasp_administrator"
          password: "{{ owaspdb_password }}"
        - id: buildlog-storage-account
          type: cred-usrpwd
          description: "Storage account name and access key for storing build reports"
          username: "{{ buildlog_sa_name }}"
          password: "{{ buildlog_sa_key }}"
        - id: reform_tunnel
          type: cred-sauce
          description: "Sauce Labs Reform Key"
          username: "reform"
          password: "{{ lookup('azure_keyvault', 'secret_name=sauce-access-key vault_uri={{ vault_uri }}', errors='warn') }}"

    jenkins_global_pipeline_libraries:
        - name: "Infrastructure"
          remote: "git@github.com:hmcts/cnp-jenkins-library.git"
          credentials_id: "git_access_ssh_key"
          include: "*"
          excludes: ""
          ignore_on_push_notifications: true
          default_version: "master"
          set_implicit: false
          allow_version_override: true

    terraform_version: 0.11.3
    terraform_sha256sum: 6b8a7b83954597d36bbed23913dd51bc253906c612a070a21db373eab71b277b

    sonar_server_url: "https://sonarcloud.io"

    # Variables specific to azure-vm-agent plugin
    jenkins_home: /opt/jenkins
    jenkins_agent_user: "jenkinsssh"
    jenkins_agent_cloud_name: "cnp-azure"
    jenkins_agent_azure_sp_id: "jenkinsServicePrincipal"
    jenkins_agent_vm_limit: "10"
    jenkins_agent_deployment_timeout: "1200"
    jenkins_agent_storage_type: "Standard_LRS"
    jenkins_agent_machine_size: "Standard_D4_v3"
    jenkins_agent_vm_creds: "vm_agent_creds"
    jenkins_agent_template_name: "cnp-jenkins-builders"
    jenkins_agent_labels: ""
    jenkins_agent_executors: "4"
    jenkins_agent_jvm_options: "-Xms4G -Xmx4G -XX:+UseG1GC -XX:+UseCompressedOops -XX:+UseCompressedClassPointers -XX:+AlwaysPreTouch -XX:+UseStringDeduplication -XX:+ParallelRefProcEnabled -XX:+UnlockExperimentalVMOptions -XX:G1NewSizePercent=20 -XX:+UnlockDiagnosticVMOptions -XX:G1SummarizeRSetStatsPeriod=1"
    jenkins_agent_private_ip: true

    # JVM options for Jenkins based on https://support.cloudbees.com/hc/en-us/articles/204859670-Java-Heap-settings-best-practice
    # and https://jenkins.io/blog/2016/11/21/gc-tuning/. Below assumes Standard DS13 v2 (8 vcpus, 56 GB memory) host
    jvm_options: "-Xms6G -Xmx12G -XX:+UseG1GC -XX:+UseCompressedOops -XX:+UseCompressedClassPointers -XX:+AlwaysPreTouch -XX:+UseStringDeduplication -XX:+ParallelRefProcEnabled -XX:+UnlockExperimentalVMOptions -XX:G1NewSizePercent=20 -XX:+UnlockDiagnosticVMOptions -XX:G1SummarizeRSetStatsPeriod=1"

    jenkins_timezone: '-Dorg.apache.commons.jelly.tags.fmt.timeZone=Europe/London'
    jenkins_csp_policy: '-Dhudson.model.DirectoryBrowserSupport.CSP=\"default-src ''self''; script-src ''self'' ''unsafe-inline''; style-src ''self'' ''unsafe-inline''; font-src data:\"'

    # can be removed after https://plugins.jenkins.io/durable-task is upgraded to 1.26
    # see https://github.com/jenkinsci/durable-task-plugin/pull/81
    heartbeat_interval: '-Dorg.jenkinsci.plugins.durabletask.BourneShellScript.HEARTBEAT_CHECK_INTERVAL=300'

    casc_location: '-Dcasc.jenkins.config=https://raw.githubusercontent.com/hmcts/cnp-jenkins-config/master/cac-{{ resolved_env }}.yml'
    jenkins_java_options: "-Djenkins.install.runSetupWizard=false {{ jvm_options }} {{ jenkins_csp_policy }} {{ jenkins_timezone }} {{ heartbeat_interval }} {{ casc_location }}"

  roles:
    - {role: ansible-terraform, tags: ['ansible-terraform']}
    - {role: azure-cli, tags: ['azure-cli']}
    - {role: jenkins-dependencies, tags: ['jenkins-dependencies']}
    - {role: jenkins, tags: ['jenkins']}
    - {role: docker, tags: ['docker']}
    - {role: nginx, tags: ['nginx']}
