---
- hosts: all
  tasks:
    - name: set additional vars
      set_fact:
        resolved_env: "{{ (env == 'prod') | ternary('prod', 'sandbox') }}"
    - name: Include environment specific vars
      include_vars: "env_vars/{{ resolved_env }}.yml"

- hosts: all
  become: true
  vars:
    jenkins_enable_security: false
    jenkins_master_executors: 0
    jenkins_plugins:
      - blueocean-git-pipeline
      - blueocean
      - blueocean-autofavorite
      - blueocean-personalization
      - blueocean-jwt
      - blueocean-rest-impl
      - blueocean-pipeline-api-impl
      - blueocean-rest
      - blueocean-dashboard
      - azure-credentials
      - azure-vm-agents
      - branch-api
      - cloudbees-folder
      - plain-credentials
      - github
      - github-organization-folder
      - greenballs
      - custom-tools-plugin
      - git
      - lockable-resources
      - pipeline-stage-view
      - ansicolor
      - http_request
      - slack
      - timestamper
      - sonar
      - workflow-aggregator
      - build-monitor-plugin

    jenkins_manual_plugins:
      - file_name: 'azure-keyvault.hpi'
        checksum: 'sha256:556a8491a092bc743e874534247cf3f0cf94c91222434f0111a55129319ea94e'
        url: 'https://github.com/hmcts/azure-keyvault-plugin/releases/download/0.9.5-hmcts.4/azure-keyvault.hpi'

    organization_folders:
      - name: 'Contino'
        displayName: 'Contino'
        description: 'Contino'
        credentials_id: 'jenkins-ghe-api-token'
        github_api_url: 'https://api.github.com'
        repoPattern: 'moj-.*'
      - name: 'HMCTS'
        displayName: 'HMCTS'
        description: 'HMCTS public repositories'
        credentials_id: 'jenkins-github-hmcts-api-token'
        github_api_url: 'https://api.github.com'
        jenkinsfile_path: 'Jenkinsfile_CNP'

    pipeline_jobs: []

    slack_domain: 'hmcts-reform'
    slack_credential_id: 'slack-token'

    jenkins_credentials:
        - id: jenkins-github-api-token
          type: cred-usrpwd
          description: "Jenkins GitHub credentials (Username/password format)"
          username: "moj-jenkins-user"
          password: "{{ github_apikey }}"
        - id: jenkins-github-hmcts-api-token
          type: cred-usrpwd
          description: "Jenkins HMCTS GitHub credentials (Username/password format)"
          username: "jenkins-reform-hmcts"
          password: "{{ hmcts_github_apikey }}"
        - id: github-enterprise-token
          type: cred-usrpwd
          description: "cnpjenkins service account GitHub Enterprise API Token (Username/password format)"
          username: "github-enterprise-token"
          password: "{{ github_enterprise_apikey }}"
          description: "Github Enterprise API token from cnpjenkins AD service account"
        - id: git_access_ssh_key
          type: cred-usrkey
          description: "Credential ID: git_access_key"
          username: "moj-jenkins-user"
        - id: vm_agent_creds
          type: cred-usrpwd
          description: "SSH credentials for Jenkins agents"
          username: "{{ jenkins_agent_user }}"
          password: "{{ jenkins_agent_password }}"
        - id: '{{ slack_credential_id }}'
          type: cred-secret-text
          description: "Slack token"
          password: "{{ slack_token }}"

    jenkins_global_pipeline_libraries:
        - name: "Infrastructure"
          remote: "git@github.com:contino/moj-jenkins-library.git"
          credentials_id: "git_access_ssh_key"
          include: "*"
          excludes: ""
          ignore_on_push_notifications: true
          default_version: "master"
          set_implicit: false
          allow_version_override: true

    terraform_version: 0.11.1
    terraform_sha256sum: 4e3d5e4c6a267e31e9f95d4c1b00f5a7be5a319698f0370825b459cb786e2f35

    sonar_server_url: "https://sonar.reform.hmcts.net"

    # Variables specific to azure-vm-agent plugin
    jenkins_home: /opt/jenkins
    jenkins_agent_user: "jenkinsssh"
    jenkins_agent_cloud_name: "moj-azure"
    jenkins_agent_azure_sp_id: "jenkinsServicePrincipal"
    jenkins_agent_vm_limit: "3"
    jenkins_agent_deployment_timeout: "1200"
    jenkins_agent_storage_type: "Standard_LRS"
    jenkins_agent_machine_size: "Standard_DS11_v2"
    jenkins_agent_vm_creds: "vm_agent_creds"
    jenkins_agent_template_name: "moj-jenkins-builders"
    jenkins_agent_labels: "jenkins-workers"
    jenkins_agent_executors: "4"
    jenkins_agent_private_ip: true

  roles:
    - role: ansible-terraform
    - role: azure-cli
    - role: jenkins-dependencies
    - role: jenkins
    - role: docker
    - role: nginx
