subscriptions:
  - name: "DTS-CFTSBOX-INTSVC"
    zoneTemplate: "service.core-compute-${environment}.internal"
    ttl: 300
    active: true
    consulActive: true
    environments:
      - name: sandbox
      - name: idam-sandbox
      - name: idam-saat
    resourceGroup: core-infra-intsvc-rg

  - name: "DTS-CFTPTL-INTSVC"
    zoneTemplate: '${["plum"].contains(product) || ["draft-store-service","em-ccdorc", "div-cos"].contains(appFullName) ? environment + ".platform.hmcts.net" : "service.core-compute-" + environment + ".internal"}'
    ttl: 300
    active: true
    consulActive: true
    environments:
      - name: prod
        ttl: 3600
      - name: idam-prod
        ttl: 3600
      - name: aat
      - name: demo
      - name: ithc
      - name: perftest
      - name: preview
        active: false
        consulActive: true
      - name: idam-aat
      - name: idam-demo
      - name: idam-ithc
      - name: idam-perftest
      - name: idam-preview
    resourceGroup: core-infra-intsvc-rg
