<?xml version='1.0' encoding='UTF-8'?>
<com.datapipe.jenkins.vault.configuration.GlobalVaultConfiguration plugin="hashicorp-vault-plugin@2.1.0">
  <configuration>
    <vaultUrl>{{ jenkins_role_vault_url }}</vaultUrl>
    <vaultCredentialId>{{ jenkins_role_vault_credential }}</vaultCredentialId>
  </configuration>
</com.datapipe.jenkins.vault.configuration.GlobalVaultConfiguration>