<?xml version='1.1' encoding='UTF-8'?>
<github-plugin-configuration plugin="github@1.29.0">
  <configs>
    <github-server-config>
      <name>Public Git</name>
      <apiUrl>https://api.github.com</apiUrl>
      <manageHooks>{{manage_webhooks}}</manageHooks>
      <credentialsId>jenkins-github-api-token-secret-text</credentialsId>
      <clientCacheSize>20</clientCacheSize>
    </github-server-config>
    <github-server-config>
      <name>Reform GitHub Enterprise</name>
      <apiUrl>https://git.reform.hmcts.net/api/v3</apiUrl>
      <manageHooks>{{manage_webhooks}}</manageHooks>
      <credentialsId>github-enterprise-token-secret-text</credentialsId>
      <clientCacheSize>20</clientCacheSize>
    </github-server-config>
  </configs>
  <hookUrl>{{hookUrl}}</hookUrl>
  <hookSecretConfig>
    <credentialsId></credentialsId>
  </hookSecretConfig>
