---
# jenkins_plugin module doesn't support password files.
- name: Get Jenkins admin password from file.
  slurp:
    src: "{{ jenkins_admin_password_file }}"
  register: adminpasswordfile
  no_log: True
  when: jenkins_admin_password_file != ""

- name: Set Jenkins admin password fact.
  set_fact:
    jenkins_admin_password: "{{ adminpasswordfile['stdout'] | default(jenkins_admin_password) }}"
  no_log: True

- name: Get Jenkins admin token from file.
  slurp:
    src: "{{ jenkins_admin_token_file }}"
  register: admintokenfile
  no_log: True
  when: jenkins_admin_token_file != ""

- name: Set Jenkins admin token fact.
  set_fact:
    jenkins_admin_token: "{{ admintokenfile['stdout'] | default(jenkins_admin_token) }}"
  no_log: True

- name: Install Jenkins plugins using password.
  jenkins_plugin:
    name: "{{ item }}"
    jenkins_home: "{{ jenkins_home }}"
    params:
      url_username: "{{ jenkins_admin_username }}"
    url_password: "{{ jenkins_admin_password }}"
    state: "{{ jenkins_plugins_state }}"
    timeout: "{{ jenkins_plugin_timeout }}"
    updates_expiration: "{{ jenkins_plugin_updates_expiration }}"
    url: "http://{{ jenkins_hostname }}:{{ jenkins_http_port }}{{ jenkins_url_prefix }}"
  with_items: "{{ jenkins_plugins }}"
  when: jenkins_admin_password != ""
  register: result
  until: result|succeeded
  notify:
    - restart jenkins
    - wait for jenkins to start
  ignore_errors: yes

- name: Install Jenkins plugins using token.
  jenkins_plugin:
    name: "{{ item }}"
    params:
      url_token: "{{ jenkins_admin_token }}"
      updates_expiration: "{{ jenkins_plugin_updates_expiration }}"
      url: "http://{{ jenkins_hostname }}:{{ jenkins_http_port }}{{ jenkins_url_prefix }}"
  with_items: "{{ jenkins_plugins }}"
  when: jenkins_admin_token != ""
  register: result
  until: result|succeeded
  notify:
    - restart jenkins
    - wait for jenkins to start
  ignore_errors: yes

# Needed if plugins aren't on the update centre
- name: Install plugins manually - warning doesn't handle dependencies
  get_url:
    url: "{{ item.url }}"
    dest: "{{ jenkins_home }}/plugins/{{ item.file_name }}"
    checksum: "{{ item.checksum }}"
  notify:
    - restart jenkins
    - wait for jenkins to start
  with_items: "{{ jenkins_manual_plugins }}"

#- name: Install Azure VM Agents plugin
#  template:
#    src: templates/azure-vm-agent.groovy.j2
#    dest: "{{ jenkins_home }}/init.groovy.d/10-azure-vm-agent.groovy"
#    group: jenkins
#    owner: jenkins
#    mode: 0700
#  when: jenkins_agent_cloud_name is defined
