---

- name: Enable Jenkins security
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/useSecurity"
    value: "true"

- name: Set Jenkins Authorization Strategy to GlobalMatrixAuthorizationStrategy
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/authorizationStrategy"
    attribute: "class"
    value: "hudson.security.GlobalMatrixAuthorizationStrategy"

- name: Set Jenkins Authorization Strategy Permissions
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/authorizationStrategy/permission"
    value: "{{ item }}" 
    with_items: "{{ jenkins_permissions_list }}"

- name: Set Jenkins Authorization Strategy to denyAnonymousReadAccess
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/authorizationStrategy/denyAnonymousReadAccess"
    state: absent   

- name: Add Security Realm SAML
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm"

- name: Set Security Realm to SAML plugin
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm"
    attribute: "class"
    value: "org.jenkinsci.plugins.saml.SamlSecurityRealm"

- name: Set Security Realm SAML plugin version
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm"
    attribute: "plugin"
    value: "saml@1.0.5"

- name: Set Security Realm SAML plugin displayNameAttributeName
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm/securityRealm/displayNameAttributeName" 
    value: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"

- name: Set Security Realm SAML plugin groupsAttributeName
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm/groupsAttributeName"
    value: "http://schemas.microsoft.com/ws/2008/06/identity/claims/groups" 
    
- name: Set Security Realm SAML plugin maximumAuthenticationLifetime
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm/maximumAuthenticationLifetime"
    value: "86400" 

- name: Set Security Realm SAML plugin usernameCaseConversion
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm/usernameCaseConversion"
    value: "none"

- name: Set Security Realm SAML plugin usernameAttributeName
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm/usernameAttributeName"
    value: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"

- name: Set Security Realm SAML plugin usernameAttributeName
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm/binding"
    value: "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"

- name: Add Security Realm SAML plugin idpMetadataConfiguration
  xml:
     path: "{{ jenkins_home}}/config.xml"
     xpath: /hudson/securityRealm/idpMetadataConfiguration

- name: Set Security Realm SAML plugin idpMetadataConfiguration config
  xml:
    path: "{{ jenkins_home}}/config.xml"
    xpath: "/hudson/securityRealm/idpMetadataConfiguration"
    add_children:
      - xml: "{{ aad_xml_config }}"
      - url: "https://login.microsoftonline.com/hmcts.net/FederationMetadata/2007-06/FederationMetadata.xml"
      - period: "15"
  notify: 
     - reload jenkins config
